page-help {
    .yellow{
        background-color: #fc0 !important;
      }
      .blue{
        background-color: #001b38 !important;
      }
      .bg {
        height: 100%;
        width: 100%;
        background: linear-gradient(160deg, #ffd800 30%, #0026ff 70%);
      }
}
